{%extends 'base.html'%}
{%block 'conteudo'%}
{% load static %}
{%block 'titulo'%}Login{%endblock %}
{%block 'liks' %} <link rel="stylesheet" type="text/css" href="{% static 'style\visual-login.css' %}">{%endblock%}

<div class="container">
    <h4>Login</h4>
    <form action="{% url 'login'%}" class="login" method="POST">
        {% csrf_token %}
      <input type="text" placeholder="Usuário" maxlength="22" id="usuario" name="usuario"/>
      <input type="password" placeholder="Senha"  maxlength="16" id="senha" name="senha"/>
      <button type="submit">login</button>
    </form>
    <div class="lembretes">
      <div class="lembrar-senha">
        <input type="checkbox" />
        <span>Lembrar senha</span>
      </div>
      <div class="recupera-senha">
        <span>Esqueceu a senha?</span>
      </div>
    </div>
    <div class="cadastro-direct">
      <span
        >Novo por aqui?
        <a href="templates/cadastros/registrar.html">Cadastre-se</a></span
      >
    </div>
  </div>
{%endblock%}
