<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/style/visual-login.css">
    <title>Login - Corretora Carbono</title>
</head>
<body>
    <div class="container">
        <h4>Login</h4>
        <form action="" class="login">
            <input type="text" placeholder="Usuário">
            <input type="text" placeholder="Senha">
            <button>login</button>
        </form>
        <div class="lembretes">
            <div class="lembrar-senha">
                <input type="checkbox">
                <span>Lembrar senha</span>
            </div>
            <div class="recupera-senha">
                <span>Esqueceu a senha?</span>
            </div>
        </div>
        <div class="cadastro-direct">
            <span>Novo por aqui? <a href="/templates/cadastros/registrar.html">Cadastre-se</a></span>
        </div>
    </div>
</body>
</html>