@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-image: url(/static/img/marek-piwnicki-XBU04qr6Jbw-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

/*-----Container Principal-----*/
.container {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    border: 1px solid #323232;
    border-radius: 10px;
}

.container h4 {
    font-family: 'poppins', sans-serif;
}

.container .login {
    display: flex;
    flex-direction: column;
    width: 85%;
}

/*-----Form Login-----*/

.login input, button {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.login input {
    background-color: #323232;
    color: white;
    font-family: 'poppins', sans-serif;
    letter-spacing: 1px;
}

.login button {
    background-color: #E77A3F;
    color: #323232;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
}

/*-----Lembretes-----*/

.lembretes {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

.lembretes .recupera-senha {
    color: #9D9D9D;
    cursor: pointer;
}

.cadastro-direct {
    padding: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
}

.cadastro-direct a {
    color: #323232;
    text-decoration: none;
}