@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #f1f1f1;
}

/*=====Container=====*/



/*=====Cabeçalho=====*/
.cabecalho {
    display: flex;
    padding: 1% 2% 1% 2%;
    background-color: #323232; 
    justify-content: space-between;
}

.cabecalho-nav {
    display: flex;
    gap: 20px;
}

.cabecalho-nav-link {
    font-family: 'poppins', sans-serif;
    color: #E77A3F;
    transition: color 0.2s;
    text-decoration: none;
}
.cabecalho-nav-link:hover {
    color: #ff4400;
}

.cabecalho-nav-link-usuario {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'poppins', sans-serif;
    color: #E77A3F;
    transition: color 0.2s;
    text-decoration: none;
}
.cabecalho-nav-link-usuario:hover {
    color: #ff4400;
}

/*=====Navegação - Categorias=====*/

.principal-navegacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.nav-categorias {
    display: flex;
    justify-content: center;
    background-color: #5F5F5F;
    text-decoration: none;
    padding: 1%;
    margin: 1%;
    gap: 20px;
    box-shadow: 0px 0px 10px;
}

.nav-categorias-link {
    color: #f1f1f1;
    transition: color 0.2s;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}
.nav-categorias-link:hover {
    color: #323232;
}

/*=====Navegação - Exibição=====*/

.span-exibicao {
    font-family: 'poppins', sans-serif;    
    text-align: center;
}

.nav-exibicao h3 {
    text-align: center;
}

.nav-exibicao {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    gap: 10px;
    margin: 0 auto;
}

.nav-exibicao-itens {
    width: 70px;
}

