{%extends 'base.html'%}
{%block 'titulo'%}HomePage{%endblock %}
{%block 'conteudo'%}
{% load static %} 
{%block 'liks' %}<link rel="stylesheet" type="text/css" href="{% static 'style\visual-home.css' %}."/>{%endblock%}
<body>
    <div class="container">
        <header class="cabecalho">
            <nav class="cabecalho-nav">
                <a class="cabecalho-nav-link" href="home.html">Home</a>
                <a class="cabecalho-nav-link" href="home.html">Categorias</a>
                <a class="cabecalho-nav-link" href="home.html">Sobre</a>
            </nav>
            <nav class="cabecalho-nav-usuario">
                <a class="cabecalho-nav-link-usuario" href="home.html">Login</a>
            </nav>
        </header>
        <main class="principal-navegacao">
            <nav class="nav-categorias">
                <a class="nav-link-categorias" href="home.html">Terrenos</a>
                <a class="nav-link-categorias" href="home.html">Casa</a>
                <a class="nav-link-categorias" href="home.html">Chácaras</a>
                <a class="nav-link-categorias" href="home.html">Apartamentos</a>
                <a class="nav-link-categorias" href="home.html">Veiculos</a>
                <a class="nav-link-categorias" href="home.html">Comercial</a>
            </nav>
            <section class="nav-exibicao">
                <h3>Publicações recentes</h3>
                <article>
                    <img src="" alt="">
                </article>
            </section>
        </main>
        <footer></footer>
    </div>
</body>
{%endblock%}