{%extends 'base.html'%} 
{%block 'titulo'%}HomePage{%endblock %} 
{%block 'conteudo'%} 
{% load static %} 
{%block 'liks' %}<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'style\visual-home.css' %}"/>{%endblock%}
<body>
  <header>
    <div>
        <a href="{% url 'home'%}"  style="display: inline-block; margin: 0; padding: 0;">
          <img class="img-logo" src="{% static 'img/carbono-icon.png'%}" alt="img logo Carbono" width="50">
        </a>
        <form method="GET" action="">
            <input class="busca-texto" type="text" name="search" placeholder="Pesquisar...">
            <button type="submit">Buscar</button>
        </form>
    </div>
    {% if user.is_authenticated %}
      <a class="cabecalho-nav-link-usuario" href="{% url 'admin:index'%}">{{request.user}}</a>
      <a class="cabecalho-nav-link-usuario" href="{% url 'graficos'%}">Ver Graficos</a>
      <a class="cabecalho-nav-link-usuario" href="{% url 'logout'%}">Sair</a>
    {% else %}
      <a class="cabecalho-nav-link-usuario" href="{% url 'login'%}">Login</a>
    {% endif %}
  </header>
  <main class="container-categoria">
    <div class="categoria">
        <h2>Tipos de imoveis</h2>
        <section class="categoria-section">
            <ul>
              {% for tipoimovel in tipoimoveis%}
                <li><a class="nav-categorias-link" href="?tipo={{tipoimovel.id}}">{{tipoimovel.nome}}</a></li>
              {% endfor %}
            </ul>
        </section>
    </div>
  </main>
    {% if filtro_tituloimovel or filtro_tipoimovel %}
      {% if tipo_imovel_nome%}
        <h2 class=" destaques-titulo">Filtrando pelo tipo imóvel: {{ tipo_imovel_nome }}</h2>
      {% elif tipo_imovel_psq %}
        <h2 class=" destaques-titulo">Filtrando pelo titulo: {{tipo_imovel_psq}}</h2>  
      {% endif%}
    {% else%}
      <h2 class=" destaques-titulo">Destaques</h2>
    {% endif %}
    <section class="container-destaques">
      {% if imoveis%}
        {% for imovel in imoveis %}
          <div class="destaques-item">
              <a class="item-link" href="">
                  {% if imovel.fotosdosimoveis_set.first.foto.url %}
                    <img src="{{ imovel.fotosdosimoveis_set.first.foto.url }}" alt="imagem de {{imovel.titulo}}"/>
                  {% else %}
                    <img  src="{% static 'media/imoveis/default.png' %}" alt="imagem de {{imovel.titulo}}"/>
                  {% endif %}
                  <h2><a class="btn btn-dark" href="{% url 'imovel_detail' imovel_id=imovel.id imovel_nome=imovel.titulo|slugify %}">{{imovel.titulo}}</a></h2>
                  <p class="item-valor">R$ {{ imovel.preco }}</p>
                  <p class="item-data">Publicado em {{imovel.data_geracao}}</p>
                  <div>
                    <span class="span-categoria">{{imovel.tipo_imovel.nome}}</span>
                  </div>
              </a>
          </div>
        {% endfor %}
      {% else%}
        <p style="color: red">Nenhum imóvel encontrado para essa seleção.</p>
      {% endif%}
      {% include 'footer/_quem_somos.html'  %}
      {% include 'footer/_fale_conosco.html'  %}
      {% include 'footer/_termos_condicoes.html' %}
    </section>
    <footer>
      <div class="footer-redes">
        <h3>Redes Sociais</h3>
        {% for redessocial in redessociais%}
          <a href="{{redessocial.instagram}}" target="_blank">Instagram</a>
          <a href="{{redessocial.facebook}}" target="_blank">Facebook</a>
          <a href="{{redessocial.whatsapp}}" target="_blank">Whatsapp</a>
        {% endfor %}
      </div>
    <div class="footer-redes">
        <h3>Menu</h3>
        <a href="{% url '_quem_somos' %}" class="link-mensagem-quem-somos">Quem Somos</a>
        <a href="{% url '_fale_conosco'%}" class="link-mensagem-fale-conosco" >Fale Conosco</a>
        <a href="{% url '_termos_condicoes'%}" class="link-mensagem-termos-condicoes">Termos e Condições</a>
    </div>
    </footer>
  <script>
    document.querySelectorAll('.link-mensagem-termos-condicoes').forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            var mensagemElement = document.querySelector('.mensagem-termos-condicoes');
            if (mensagemElement) {
                mensagemElement.style.display = mensagemElement.style.display === 'block' ? 'none' : 'block';
            }
        });
    });
  </script>
  <script>
    document.querySelectorAll('.link-mensagem-quem-somos').forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            var mensagemElement = document.querySelector('.mensagem-quem-somos');
            if (mensagemElement) {
                mensagemElement.style.display = mensagemElement.style.display === 'block' ? 'none' : 'block';
            }
        });
    });
</script>
<script>
  document.querySelectorAll('.link-mensagem-fale-conosco').forEach(function(link) {
      link.addEventListener('click', function(event) {
          event.preventDefault();
          var mensagemElement = document.querySelector('.mensagem-fale-conosco');
          if (mensagemElement) {
              mensagemElement.style.display = mensagemElement.style.display === 'block' ? 'none' : 'block';
          }
      });
  });
</script>
</body>
{%endblock%}
