{% extends 'base.html' %} 
{% block 'titulo' %}Quem Somos{% endblock %} 
{% block 'conteudo' %} 
    <div class="mensagem-quem-somos" style="display: none; background-color: #d4ecf4; border-radius:12px;">
        {% for mensagem in mensagems%}
            <h1 style=" display: flex; justify-content: space-around; padding;12px; margin:12px;">Quem Somos</h1>
            <span style=" display: flex; justify-content: space-around; padding;15px; margin:12px;" >{{ mensagem.quem_somos }}</span>
        {% endfor %}
    </div>
{% endblock %}
